.gallery-container {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery-image {
  display: none;
  width: 100%;
  height: auto;
}

.gallery-image.active {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #333;
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

.arrow.left { left: 0; }
.arrow.right { right: 0; }




.bibliography {
  padding-left: 20px; /* space for bullets */
  list-style-type: disc; /* standard bullet */
}

.bibliography li {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}

.bibliography em {
  font-style: italic;
}

.bibliography a {
  color: inherit;
  text-decoration: underline;
}
